@tailwind base;

/* hello.dev nextra default colors */
:root {
	--shiki-color-text: #414141;
	--shiki-color-background: transparent;
	--shiki-token-constant: #1976d2;
	--shiki-token-string: #22863a;
	--shiki-token-comment: #aaa;
	--shiki-token-keyword: #d32f2f;
	--shiki-token-parameter: #ff9800;
	--shiki-token-function: #6f42c1;
	--shiki-token-string-expression: #22863a;
	--shiki-token-punctuation: #212121;
	--shiki-token-link: #22863a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--shiki-color-text: #d1d1d1;
		--shiki-token-constant: #79b8ff;
		--shiki-token-string: #ffab70;
		--shiki-token-comment: #6b737c;
		--shiki-token-keyword: #f97583;
		--shiki-token-parameter: #ff9800;
		--shiki-token-function: #b392f0;
		--shiki-token-string-expression: #4bb74a;
		--shiki-token-punctuation: #bbb;
		--shiki-token-link: #ffab70;
	}
}

/* End of Nextra default colors */

pre[class*='language-'] {
	@apply m-0;
}

button {
	@apply rounded-sm;
}

input[type='url'] {
	@apply text-charcoal dark:text-gray;
}

@tailwind components;

.btn {
	@apply ring-1 border-none bg-transparent ring-charcoal dark:ring-gray-800 rounded-sm hover:ring-2;
}

.form-input {
	@apply rounded-sm bg-transparent ring-1 border-none hover:ring-2;
	@apply ring-charcoal !important;
	@apply dark:ring-gray-800 !important;
}

.form-input::placeholder,
.form-textarea::placeholder {
	@apply text-charcoal dark:text-gray opacity-50;
}

pre {
	@apply whitespace-pre-wrap;
}

.hello-btn-black-and-static {
	@apply h-11 font-medium;
}

input[type='checkbox'] {
	@apply form-checkbox w-[14px] h-[14px] text-charcoal dark:text-gray-800 border-charcoal dark:border-gray-800 rounded-sm bg-transparent;
	@apply hover:border-2 focus:ring-0 focus:outline-none focus:ring-offset-0;
}

input[type='radio'] {
	@apply form-radio w-[14px] h-[14px] text-charcoal dark:text-gray-800 border-charcoal dark:border-gray-800 bg-transparent;
	@apply hover:border-2 focus:ring-0 focus:outline-none focus:ring-offset-0;
}

@tailwind utilities;
