@tailwind base;

:root {
	--shiki-color-text: #414141;
	--shiki-color-background: transparent;
	--shiki-token-constant: #1976d2;
	--shiki-token-string: #22863a;
	--shiki-token-comment: #aaa;
	--shiki-token-keyword: #d32f2f;
	--shiki-token-parameter: #ff9800;
	--shiki-token-function: #6f42c1;
	--shiki-token-string-expression: #22863a;
	--shiki-token-punctuation: #212121;
	--shiki-token-link: #22863a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--shiki-color-text: #d1d1d1;
		--shiki-token-constant: #79b8ff;
		--shiki-token-string: #ffab70;
		--shiki-token-comment: #6b737c;
		--shiki-token-keyword: #f97583;
		--shiki-token-parameter: #ff9800;
		--shiki-token-function: #b392f0;
		--shiki-token-string-expression: #4bb74a;
		--shiki-token-punctuation: #bbb;
		--shiki-token-link: #ffab70;
	}
}

html,
body {
	min-width: 320px;
	overflow-x: auto;
}

pre[class*='language-'] {
	@apply m-0;
}

button {
	@apply rounded-sm;
}

input[type='url'] {
	@apply text-charcoal dark:text-[#d4d4d4];
}

input[type='radio'],
input[type='checkbox'] {
	@apply hover:border-2 border-charcoal dark:border-[#808080];
}

@tailwind components;

.form-input,
.form-checkbox {
	@apply rounded-sm bg-transparent;
}

.form-radio {
	@apply bg-transparent;
}

.btn {
	@apply ring-1 border-none bg-transparent ring-charcoal dark:ring-[#808080] rounded-sm;
	@apply hover:ring-2;
}

.form-input {
	@apply ring-1 border-none hover:ring-2;
	@apply ring-charcoal !important;
	@apply dark:ring-[#808080] !important;
}

.form-input::placeholder,
.form-textarea::placeholder {
	@apply text-charcoal dark:text-gray opacity-50;
}

@tailwind utilities;
